{% extends 'base.html.twig' %}

{% block title "Tout les services"%}

{% block body %}
<div class="example-wrapper">
    <h1>Services Zoo Arcadia</h1>
    <p>Retrouvez tout les services proposés par le Zoo Arcadia ci-dessous :</p>
    
    <ul>
        <li>
            <a href="{{ url('app_services.show', {id: 32, slug: 'tarif-zoo'}) }}">Tarifs zoo</a>
        </li>
    </ul>


</div>
{% endblock %}
